.c-home-article {
  margin-top: 55px;
  margin-bottom: 55px;
}

.c-home-article__photodiary-link {
  @include Ubuntu14px300;
  display: inline-block;
  text-transform: uppercase;
  color: #b4ad9e;
  margin-bottom: 30px;
  transition: .5s;
}

.c-home-article__photodiary-link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: #626262;
  transition: width .3s ease-in;
}

.c-home-article__photodiary-link:hover::before,
.c-home-article__photodiary-link:focus::before {
    width: 100%;
}

.c-home-article__photodiary-link:hover {
  scale: 1.2;
}

.c-home-article__text-wrap {
}

.c-home-article__title {
  @include PlayfairDisplay30px400;
  color: #626262;
  margin-bottom: 15px;
}

.c-home-article__text {
  @include PlayfairDisplay14px400;
  color: #626262;
  margin-bottom: 55px;
}

.c-home-article__comment-link {
  @include Ubuntu14px300;
  display: inline-block;
  text-transform: uppercase;
  color: #b4ad9e;
  transition: .5s;
}

.c-home-article__comment-link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: #626262;
  transition: width .3s ease-in;
}

.c-home-article__comment-link:hover::before,
.c-home-article__comment-link:focus::before {
    width: 100%;
}

.c-home-article__comment-link:hover {
  color: #626262;
  scale: 1.2;
}

@media (min-width: 576px) {
  .c-home-article__title {
    margin-bottom: 45px;
  }

  .c-home-article {
    margin-bottom: 132px;
  }
}

@media (min-width: 768px) {
  .c-home-article {
    margin-top: 100px;
    margin-bottom: 130px;
  }
}