.c-info-card-wrap {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.c-info-card {
  width: 100%;
  margin-bottom: 52px;
}

.c-info-card__img {
  width: 100%;
  margin-bottom: 22px;
}

.c-info-card__link {
  @include Ubuntu14px300;
  display: inline-block;
  text-transform: uppercase;
  color: #b4ad9e;
  margin-bottom: 22px;
  transition: 0.5s;
}

.c-info-card__link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: #626262;
  transition: width .3s ease-in;
}

.c-info-card__link:hover::before,
.c-info-card__link:focus::before {
    width: 100%;
}

.c-info-card__link:hover {
  color: #626262;
  scale: 1.2;
}

.c-info-card__title {
  @include PlayfairDisplay30px400;
  color: #626262;
  margin-bottom: 22px;
}

.c-info-card__text {
  @include PlayfairDisplay14px400;
  color: #626262;
}

@media (min-width: 576px) {
  .c-info-card {
    margin-bottom: 70px;
  }

  .c-info-card {
    width: 47%;
  }

  .c-info-card__img {
    margin-bottom: 34px;
  }

  .c-info-card__link {
    margin-bottom: 34px;
  }

  .c-info-card__title {
    margin-bottom: 34px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .c-info-card {
    margin-bottom: 132px;
  }
}