.c-footer {
  background-color: $color-bg;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.c-footer__privacy-wrap {
}

.c-footer__privacy {
  @include PlayfairDisplay14px400;
  display: inline-block;
  line-height: 24px;
  color: #000000;
  margin-right: 20px;
  cursor: pointer;
  transition: .5s;
}

.c-footer__privacy::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: $color-dark;
  transition: width .3s ease-in;
}

.c-footer__privacy:hover::before,
.c-footer__privacy:focus::before {
    width: 100%;
}

.c-footer__privacy:hover {
  scale: 1.2;
}

.c-footer__follow-wrap {
  display: flex;
}

.c-footer__follow-title {
  @include PlayfairDisplay14px400;
  line-height: 24px;
  color: #000000;
}

.c-footer__follow {
  margin-left: 22px;
  cursor: pointer;
  transition: .5s;
}

.c-footer__follow:hover {
  scale: 1.2;
}
