.c-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $color-bg;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 105px;
}

.c-sign-up__title {
  @include PlayfairDisplay30px400;
  letter-spacing: 1px;
  color: #333333;
  text-align: center;
  margin-bottom: 50px;
}

.c-sign-up__mail-wrap {
  position: relative;
  width: 80%;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}

.c-sign-up__mail {
  position: relative;
  width: 100%;
  background-color: $color-bg;
  border: none;
  outline: none;
}

.c-sign-up__btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
}

@media (min-width: 576px) {
  .c-sign-up {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .c-sign-up__mail-wrap {
    width: 55%;
  }

  .c-sign-up__title {
    margin-bottom: 70px;
  }
}

@media (min-width: 768px) {
  .c-sign-up__mail-wrap {
    width: 55%;
  }
}

@media (min-width: 992px) {
  .c-sign-up {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .c-sign-up__title {
    margin-bottom: 85px;
  }
}