/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

$color-dark: #626262;
$color-grey: #b4ad9e;
$color-bg: #f0f0f0;
