<div class="c-exposition-wrap container2">
  <a class="c-exposition__link" href="#">you may also like</a>
  <div class="c-exposition__cards">
    <div class="c-exposition__card">
      <img class="c-exposition__card-img" src="images/m6.jpg" alt="img" />
      <p class="c-exposition__card-text">Cold winter days</p>
    </div>
    <div class="c-exposition__card">
      <img class="c-exposition__card-img" src="images/m4.jpg" alt="img" />
      <p class="c-exposition__card-text">A day exploring the Alps</p>
    </div>
    <div class="c-exposition__card">
      <img class="c-exposition__card-img" src="images/m3.jpg" alt="img" />
      <p class="c-exposition__card-text">American dream</p>
    </div>
  </div>
</div>