<section class="info-card-wrap container2"> 
    <div class="info-card">
        <img class="info-card__img" src="images/m1.jpg" alt="img" />
        <a class="info-card__link" href="#">lifestyle</a>
        <div class="info-card__title">More than just a music festival </div>
        <div class="info-card__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed d Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed d
        </div>
    </div>
    
    <div class="info-card">
        <img class="info-card__img" src="images/m2.jpg" alt="img" />
        <a class="info-card__link" href="#">lifestyle</a>
        <div class="info-card__title">More than just a music festival </div>
        <div class="info-card__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed d Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed d
        </div>
    </div>

    <div class="info-card">
        <img class="info-card__img" src="images/m3.jpg" alt="img" />
        <a class="info-card__link" href="#">lifestyle</a>
        <div class="info-card__title">More than just a music festival </div>
        <div class="info-card__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed d Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed d
        </div>
    </div>
    
    <div class="info-card">
        <img class="info-card__img" src="images/m4.jpg" alt="img" />
        <a class="info-card__link" href="#">lifestyle</a>
        <div class="info-card__title">More than just a music festival </div>
        <div class="info-card__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed d Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed d
        </div>
    </div>

    <% include /sign-up.ejs %>

    <div class="info-card">
        <img class="info-card__img" src="images/m5.jpg" alt="img" />
        <a class="info-card__link" href="#">lifestyle</a>
        <div class="info-card__title">More than just a music festival </div>
        <div class="info-card__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed d Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed d
        </div>
    </div>

    <div class="info-card">
        <img class="info-card__img" src="images/m6.jpg" alt="img" />
        <a class="info-card__link" href="#">lifestyle</a>
        <div class="info-card__title">More than just a music festival </div>
        <div class="info-card__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed d Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dLorem ipsum dolor sit amet, consectetur adipisicing elit, sed d
        </div>
    </div>


</section> 