<header>
    <nav class="c-navbar container">

        <a class="c-navbar__brand" href="#">minimø</a>
      
        <div class="c-navbar__items-wrap">
          <ul class="c-navbar__items">
      
            <li class="c-navbar__item">
              <a class="c-navbar__item-link" href="#">lifestyle</a>
            </li>
      
            <li class="c-navbar__item">
              <a class="c-navbar__item-link" href="#">photodiary</a>
            </li>
      
            <li class="c-navbar__item">
              <a class="c-navbar__item-link" href="#">music</a>
            </li>
      
            <li class="c-navbar__item">
              <a class="c-navbar__item-link" href="#">travel</a>
            </li>
      
          </ul>

        </div>
    </nav>
</header>