<div class="c-sign-up container2">
    <div class="c-sign-up__title">Sign up for our newsletter!</div>
    <div class="c-sign-up__mail-wrap">
        <input class="c-sign-up__mail" placeholder="Enter a valid email address"></input>
        <button class="c-sign-up__btn"><img src="images/arrow.png" /></button>
    </div>
</div>