<div class="slider container">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="images/m1.jpg" /></div>
      <div class="swiper-slide"><img src="images/m2.jpg" /></div>
      <div class="swiper-slide"><img src="images/m3.jpg" /></div>
      <div class="swiper-slide"><img src="images/m4.jpg" /></div>
    </div>
  </div>
</div>