<div class="c-social-wrap">
  <p class="c-social__title">Share</p>
  <img class="c-social__link" src="images/instagram.svg" alt="img" />
  <img class="c-social__link" src="images/facebook.svg" alt="img" />
  <img class="c-social__link" src="images/mail.svg" alt="img" />
  <img class="c-social__link" src="images/telegram.svg" alt="img" />
  <img class="c-social__link" src="images/twitter1.svg" alt="img" />
</div>